$email:300;
$prime:#1C3879;
.publication{
    
    padding: 110px 0 40px 0;
    background: -webkit-linear-gradient(to right, #e0dbe1, #ded9df, #dfdae1, #dcd6e0, #ded8e2, #dad4e0, #d9d3e1, #d5d1df, #d5cede);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e0dbe1, #ded9df, #dfdae1, #dcd6e0, #ded8e2, #dad4e0, #d9d3e1, #d5d1df, #d5cede); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(to right, #e0dbe1, #ded9df, #dfdae1, #dcd6e0, #ded8e2, #dad4e0, #d9d3e1, #d5d1df, #d5cede);
        
    .content{

        width: 40%;
        margin: auto;
        color: #1C3879;

        ul{
            margin-top: 70px;
        }
        input{
            color:black;
            font-weight: 200;
        }

        .email{
            margin-top:3vh;   
            font-weight: 500;         
        }
        .emailinp:focus{
            box-shadow: 1px 1px $prime;
            background-color: rgb(237, 237, 237);
            font-weight: 1000;
        }

        .emailinp::placeholder {
            font-weight: 30;
            font-size: 2.3vh;
            opacity: 0.5;
            color: gray;
        }
        
        
       
        .sign{
        display: flex;
        margin-bottom: 6vh;
        justify-content: center;
        }

        .sub{
                
            justify-content: space-around;
            button{
                border-radius: 10px;
                margin-top: 8vh;
                font-size: 3vh;
                background-color: #1C3879;
            }
            button:hover{
                background-color: black;
            }
        }
        
.footer{
    display:flex;
    justify-content: center;
    margin-top: 5vh;
}

.link{
    margin-left: 2vh;
    
}
.error{
    color: red;
}
        form{
            font-size: 2.5vh;
            border:2px solid grey;
            padding: 40px;
            border-radius: 20px;
            border: #1C3879 2px solid;
            background-color: white;
            box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
            
        }
        form:hover{
        box-shadow:3px 3px rgb(122, 129, 176);
        border-radius: 20px;
        }


    }
    


}




