



* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  body {
    
    font-family: "Inter", sans-serif;
  }
  .formbold-main-wrapper {
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }


  .custom-file-label{
    font-size: 2vh;
    padding: 1vh;
    cursor:pointer;
    min-width: 100%;
    margin-left: 1vh;
    background: #343a40;
    border-radius: 0.6vh;
    color:white;
  }

  .status{

  display: flex;
  justify-content: right;
  
  }

  .formbold-textarea {
    display: flex;
    flex-direction: column-reverse;
  }


   .row{
    width: 100%;
    margin-bottom: 5vh
  }

  .formbold-form-input {
    height: 6vh;
    background: #FFFFFF;
    font-weight: 1000;
    font-size: 2.5vh;
    color: #000000; 
   
    border: 1px solid #DDDDDD;
    -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  }
  .formbold-form-input::placeholder {
    color: #00091f06;;
  }



  .formbold-form-input:focus {
    box-shadow: 0 0 5px #1C3879;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #1C3879;
  }
 



  .formbold-form-label {
    color: #07074D;
    font-weight: 1000;
    font-size: 2vh;
    line-height: 24px;
    display: block;
    margin-bottom: 18px;
  }
  .formbold-form-input:focus + .formbold-form-label {
    color: #545454;
  }


  .line{
    
    border: 2px solid #1C3879;
    margin-bottom: 8vh;
  }
  .formbold-input-file {
    margin-top: 30px;
  }
  .formbold-input-file input[type="file"] {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: -1;
  }
  .formbold-input-file .formbold-input-label {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }

  .formbold-filename-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 22px;
  }
  .formbold-filename {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    color: #536387;
  }
  .formbold-filename svg {
    cursor: pointer;
  }
  

  .formbold-btn {
    font-size: 2vh;
    border-radius: 5px;
    padding: 12px 25px;
    border: none;
    font-weight: 500;
    background-color: #1C3879;
    color: white;
    cursor: pointer;
    margin-top: 5vh;
  }

  .subm{
    font-size: 2vh;
    border-radius: 5px;
    padding: 1.5vh 3vh;
    border: rgb(1, 30, 1);
    font-weight: 500;
    background-color: #067230;
    color: white;
    margin-left: 0px;
    cursor: pointer;
    margin-top: 5vh;
  }
  .subm:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }


.pub{
  margin:6vh;
}




$green: #1C3879;
$gray: #bbbbbb;
* {
  font-family: 'Roboto', sans-serif;
}
.container2 {
  
  width: 4vh;
  height: 4vh;
}
#button {
  outline:none;
  height: 80px;
  text-align: center;
  width: 300px;
  border-radius:1.5vh;
  background: #fff;
  border: 2px solid $green;
  color:$green;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:4.0vh;
    font-weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $green;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }

  
}
.onclic {
  width: 40px;
  border-color:$gray;
  border-width:3px;
  font-size:0;
  border-left-color:$green;
  animation: rotating 2s 0.25s linear infinite;

  &:hover {
    color:$green;
    background: white;
  }
  
}

